

<br>
<div class="row  text-center">
    <div class=" col-md-4">
        <div class="card text-center " id="total-order">
            <div class="card-header">
                <h5 class="card-title">Total Order:</h5>
            </div>
            <div class="card-body">
                <h5 class="card-title">{{total_order}}</h5>
            </div>
        </div>
    </div>
    <div class=" col-md-4">
        <div class="card text-center" id="order-deliver">
            <div class="card-header">
                <h5 class="card-title">Order Delivered:</h5>
            </div>
            <div class="card-body">
                <h5 class="card-title">{{deliver}}</h5>
            </div>
        </div>
    </div>
    <div class=" col-md-4">
        <div class="card text-center" id="order-pending">
            <div class="card-header">
                <h5 class="card-title">Order Pending:</h5>
            </div>
            <div class="card-body">
                <h5 class="card-title">{{pending}}</h5>
            </div>
        </div>
    </div>
</div>

